
snippet log "log stuff"
echo $1 $1 $2 $2 $3 $3 $4 $4
$0
endsnippet


snippet title "Create a title"
${1:Enter A Title}
"This is your title:
"============= $1 =================
"
"============ $2 ===========
$0
endsnippet
